<md-toolbar color="primary">
	Mediathèque en ligne
	<span class="app-toolbar-filler"></span>
</md-toolbar>

<md-tab-group>
	<md-tab>
		<template md-tab-label>Livre</template>
		<template md-tab-content>
			<h1>Some tab content</h1>
		</template>
	</md-tab>
	<md-tab>
		<template md-tab-label>CD</template>
		<template md-tab-content>
			<h1>Some more tab content</h1>
		</template>
	</md-tab>
	<md-tab>
		<template md-tab-label>Film</template>
		<template md-tab-content>
			<h1>Some more tab content</h1>
		</template>
	</md-tab>
</md-tab-group>